doctype html
html
  head
    meta(charset = 'UTF-8')
    title ToDo List
    link(rel='stylesheet' href='/stylesheets/index.css')
    body
      div.container

        h1 EDIT YOUR TASK : </br> #{task.title}

        form(action=`/${task.id}/edit`, method='post')
          label(for='title') Task : 
          input(type='text', name='title', value=`${task.title}`, id='title')
          label(for='time') When ? 
          input(name='time', value=`${task.time}`, id='time')
          button(type='submit') UPDATE
