doctype html
html
  head
    meta(charset = 'UTF-8')
    title To Do List
    link(rel='stylesheet' href='/stylesheets/index.css')
    body
      h1 Ma To Do Liste

      form(action='/create', method='post')
        input(type='text', name='title', placeholder='enter something')
        button(type='submit') Envoyer

      ul
        each task in tasks
          li= `${task.title} `
            a(href= `${task.id}/delete`) X
            a(href= `${task.id}/edit`) E
